body {
  background-color: #baf8ff;
}

h1 {
  animation-name: fade;
  animation-duration: 3s;
}

.arrow {
    cursor: pointer;
    margin: auto;
    width: 40px;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  animation: fade ease 3s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: .3s;
}

.wrapper {
  position: absolute;
  text-align: center;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#sign-up-form, #login-form, #intro, #intro2 {
  display:none;
  margin-top:-30px;
}

input {
  font-size: 18px;
  display: block;
  margin: auto;
  margin-top: 15px;
}
