html {
  margin: 0;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  margin: 0;
  position: fixed;
  color: white;
  background-color: #689499;
  box-shadow: rgba(0,0,0,.11) 0 1px;
  z-index: 999;
}

#logo {
  background-color: #f3f3f3;
  height: 50px;
  width: 50px;
  margin: 5px;
}

#logo_name {
  font-size: 35px;
  line-height: 60px;
  margin-right: 15px;
  cursor: default;
}

#logo_name a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav_link {
  font-size: 30px;
  line-height: 60px;
  margin-right: 20px;
  cursor: pointer;
}


.nav_link:hover, #logo_name a:hover {
  color: #b1e0e6;
  transition: .3s;
}

#colors {
  position: absolute;
  font-size: 24px;
  height: 50px;
  margin: 5px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  right: 45px;
  cursor: pointer;
  user-select: none;
}

#colors:hover {
  filter: brightness(90%);
}

#nav_profile_button {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  height: 45px;
  width: 45px;
  right: 7.5px;
  margin: 7.5px;
  border-radius: 10px;
  border: 5px solid #d9d9d9;
}

#nav_profile_button:hover {
  filter: brightness(90%);
  transition: .3s;
}

.arrow:hover {
  cursor: pointer;
  color: #555555;
  transition: .3s;
}

.arrow {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  transition: .3s;
  margin:auto;
  line-height: 38px;
}

.rel-wrapper {
  height: 100%;
  width:100%;
  position: relative;
}

.page-wrapper {
  width:100%;
  height:100%;
  height: calc(100vh - 60px);
  padding-top:60px;
  display: flex;
}

.sidebar {
  height: 100%;
  min-width: 200px;
  max-width: 200px;
  border-right: 2px solid rgba(0,0,0,.11);
  background-color: #aeecf2;
  z-index: 2
}

#goals-tag {
  width: 100%;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
  border-bottom: 2px solid rgba(0,0,0,.11);
  color: #555555;
}

#newgoalbutton {
  display: inline;
  background-color: white;
  width: 40px;
  text-align: center;
  border-radius: 25px;
  float: right;
  color: #777777;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
}

#newgoalbutton:hover {
  filter: brightness(94%);
  transition: .3s;
}

.dash-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 25px;
  background-color: #baf8ff;
}