html {
  margin: 0;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  margin: 0;
  position: fixed;
  color: white;
  background-color: #689499;
  box-shadow: rgba(0,0,0,.11) 0 1px;
}

#logo {
  background-color: #f3f3f3;
  height: 50px;
  width: 50px;
  margin: 5px;
}

#logo_name {
  font-size: 42px;
  line-height: 60px;
  width: 200px;
}

#colors {
  position: absolute;
  font-size: 24px;
  height: 50px;
  margin: 5px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  right: 45px;
  cursor: pointer;
  user-select: none;
}

#colors:hover {
  filter: brightness(90%);
}

#nav_profile_button {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  height: 45px;
  width: 45px;
  right: 7.5px;
  margin: 7.5px;
  border-radius: 10px;
  border: 5px solid #d9d9d9;
}

#nav_profile_button:hover {
  filter: brightness(90%);
  transition: .3s;
}

.arrow:hover {
  cursor: pointer;
  color: #555555;
  transition: .3s;
}

.arrow {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  transition: .3s;
  margin:auto;
  line-height: 38px;
}

.rel-wrapper {
  height: 100%;
  width:100%;
  position: relative;
}
